.app {
  display: flex;
  height: calc(100% - 90px);
  background-image: linear-gradient(#282828, #000);
}

.list-button {
  background: transparent;
  color:#eee;
  padding: 4px;
  border-style: none;
  width: 100%;
  font-size: 100%;
}

.button:focus {
  outline: none;
}

.button::-moz-focus-inner {
  outline: none;
}

.music-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.music-list__albums {
  width: 25%;
}

.music-list__songs {
  width: 25%;
}

.music-list__playlist {
  width: 25%;
}

p {
  color: #eee;
}

.random-text {
  margin: 0;
  padding: 15px;
  font-size: 20px;
}

.right-text {
  position: absolute;
  right: 0px;
}

.top-button {
  background: transparent;
  color:#eee;
  border-style: none;
}

.clear-text {
  position: absolute;
  right: 150px;
  top: 15px;
  padding: 0;
  color: rgba(238, 238, 238, 0.6);
}

button:hover {
  color: rgb(214, 211, 211);
  transition: .2s ease;
}

button {
  transition: .2s ease;
}

.content-spacing {
  display: flex;
  margin: 28px;
  margin-top: 50px;
  flex-wrap: wrap;
  width: calc(100% - 496px);
}




/* side bar */

.side-bar {
  position: relative;
  float: left;
  width: 220px;
  height: calc(100% - 50px);
  margin-bottom: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.side-bar__left {
  margin-top: 50px;
  float: left;
}

.side-bar__right {
  float: right;
}

.side-bar__artists {
  padding-left: 24px;
  padding-right: 24px;
  overflow: scroll;
  max-height: 100%;
}






/*------*\
  Player
\*------*/

.player-container {
  position: fixed;
  bottom: 0;
  display: flex;
  margin: auto;
  width: 100%;
  height: 90px;
  vertical-align: bottom;
}

.player {
  padding: 29px;
  padding-right: 0px;
}

.player__now-playing {
  color: #eee;
  font-size: 20px;
  margin-top: 35px;
}

.filter-container {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  padding-left: 43.5px;
  width: 176.5px;
  height: 19px;
  background: rgba(0, 0, 0, 0.3);
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 9px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: #eee;
  text-align: center;
}

.header h1 {
  margin: 0;
}





/* album icons */

.album-icon {
  margin: 8px;
  width: calc(33.33333333% - 16px);
  cursor: pointer;
}

.album-art {
  width: 100%;
}

.album-name {
  color: #eee;
}

.album-name-container {
  text-align: center;
  margin-top: 12px;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
}





/* song list */

.songs-album-icon {
  margin: 8px;
  width: 100%;
}

.songs-album-icon img {
  width: 33.33333333%;
}

.songs-album-info {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.songs-list {
  display: inline;
}

.song {
  color: #eee;
  cursor: pointer;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
}
