.app {
  display: flex;
}

.list-button {
  background: transparent;
  color:#eee;
  border-left-style: none;
  border-right-style: none;
  border-top-width: 1px;
  border-top-color: #6666ee;
  border-bottom-color: #6666ee;
  width: 100%;
  font-size: 175%;
}

.list-button__top {
  border-top-style: solid;
  border-bottom-style: solid;
}

.list-button_non-top {
  border-top-style: none;
  border-bottom-style: solid;
}

.list-button:focus {
  outline: none;
}

.list-button::-moz-focus-inner {
  outline: none;
}

.music-list {
  list-style-type: none;
  margin-top: 50px;
  padding-left: 0;
  height: 100%;
}

.music-list__artists {
  width: 40%;
}

.music-list__albums {
  width: 30%;
}

.music-list__songs {
  width: 30%;
}





/*------*\
  Player
\*------*/

.player-container {
  position: absolute;
  margin: auto;
  width: 100%;
}