.app {
  display: flex;
  height: calc(100% - 90px);
  background-image: linear-gradient(#3f3f3f, #000);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.list-button {
  background: transparent;
  color:#eee;
  padding: 4px;
  border-style: none;
  width: 100%;
  font-size: 100%;
}

.selected-item {
  background-color: rgba(153, 153, 153, 0.3);
}

.button:focus {
  outline: none;
}

.button::-moz-focus-inner {
  outline: none;
}

.music-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.music-list__albums {
  width: 25%;
}

.music-list__songs {
  width: 25%;
}

.music-list__playlist {
  width: 25%;
}

p {
  color: #eee;
}

.right-text {
  position: absolute;
  right: 0px;
}

.top-button {
  background: transparent;
  color:#eee;
  border-style: none;
}

.clear-text {
  position: absolute;
  right: 57.075px;
  bottom: 36px;
  padding: 0;
  color: rgba(238, 238, 238, 0.6);
  font-size: 18px;
}

button:hover {
  color: rgb(214, 211, 211);
}

.content-spacing {
  display: flex;
  margin: 28px;
  margin-top: 50px;
  flex-wrap: wrap;
  width: calc(100% - 496px);
}




/* side bar */

.side-bar {
  position: relative;
  float: left;
  height: calc(100% - 50px);
  margin-bottom: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.side-bar__left {
  margin-top: 50px;
  float: left;
}

.side-bar__right {
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
  width: 172px;
  float: right;
}

.side-bar__artists {
  width: 172px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: scroll;
  max-height: 100%;
}

.queue-header {
  position: fixed;
  right: 72.656px;
  top: 11px;
  color: #eee;
}

.queue-header h2 {
  margin: 0;
}





/*------*\
  Player
\*------*/

.player-container {
  position: fixed;
  bottom: 0;
  display: flex;
  margin: auto;
  width: 100%;
  height: 90px;
  vertical-align: bottom;
}

.player {
  position: fixed;
  bottom: 29px;
  left: 0;
  right: 0;
  width: calc(100% - 496px);
  margin-left: auto;
  margin-right: auto;
}

.player__now-playing {
  color: #eee;
  font-size: 20px;
  width: 172px;
  padding-left: 24px;
  padding-right: 24px;
}

.player__now-playing__album-art {
  position: fixed;
  bottom: 17px;
  height: 56px;
  width: 56px;
}

.player__now-playing__track-info {
  position: fixed;
  left: 104px;
  display: flex;
  flex-wrap: wrap;
  bottom: 30.5px;
}

.player__now-playing__track-info__track-name {
  width: 100%;
  bottom: 50px;
  font-size: 14px;
}

.player__now-playing__track-info__artist-name {
  width: 100%;
  font-size: 11px;
  color: rgba(238, 238, 238, 0.6);
}

.filter-container {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  padding-left: 43.5px;
  width: 176.5px;
  height: 19px;
  background: rgba(0, 0, 0, 0.2);
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 9px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: #eee;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.next-button {
  position: fixed;
  right: 220px;
  font-size: 20px;
  bottom: 35px;
}





/* album icons */

.album-icon {
  display: table;
  padding: 8px;
  width: calc(33.33333333% - 16px);
  cursor: pointer;
  height: auto;
}

.album-art {
  width: 100%;
}

.album-name {
  color: #eee;
}

.album-name-container {
  text-align: center;
  margin-top: 12px;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
}





/* song list */

.songs-album {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  width: 100%;
  overflow: auto;
  height: 260px;
}

.songs-album img {
  width: 250px;
  height: 250px;
}

.songs-album-info {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.songs-list {
  display: inline;
}

.song {
  color: #eee;
  cursor: pointer;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
}

.songs-album__album-info {
  color: #eee;
  height: 39px;
  margin-top: 105.5px;
  margin-left: 24px;
}

.album-art-hover {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.album-art-hover img {
  width: 100%;
  height: 100%;
}
